@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit,sans-serif;
}

@font-face {
  font-family: "Header";
  src: url("../../public/Header.otf");
}

.header {
  font-family: "Header";
  font-size: 4rem;
}

.sidebar-option{
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid #a9a9a9;
  border-right: 0;
  padding: 8px 10px;
  border-radius: 3px 0px 0px 3px;
  cursor: pointer;
}

.sidebar-option.active{
  background-color: #fff0ed;
  border-color: tomato;
}

.multi{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-table-format{
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border: 1px solid #cacaca;
  font-size: 13px;
}

@media (max-width:900px) {
  .sidebar-option p{
    display: none;
  }
}

@media (max-width:600px) {
  .list-table-format{
    grid-template-columns: 1fr 3fr 1fr;
    gap: 15px;
  }
  .list-table-format .title{
    display: none;
  }
}